.container_main {
  font-size: 2rem;
  width: 80vw;
  margin: 3rem 10vw;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.container_mentions {
  width: 70vw;
  margin: auto;
}

.fabrication {
  display: inline-flex;
  max-height: 60vh;
  column-gap: 5%;
}

.figure_size {
  width: 30%;
}
.figure_size img {
  margin: 0 15%;
}

.text_caption {
  justify-content: center;
  font-size: 1.2rem;
  padding: auto 20%;
}

.carousel_size {
  width: 30vw;
  height: 20vh;
  margin: auto;
}
