h1 {
  text-align: center;
}

.container_main,
.container_mentions {
  width: 60vw;
  margin: auto;
}

.carousel_size {
  width: 90vw;
  height: 90vh;
  margin: auto;
}

.deco_img {
  margin: 2vh 25vw;
}

/* test */
.boutons_rivet .cuir {
  padding: 15vw;
}
.boutons_rivet h2 {
  left: 10vw;
}
.myName {
  display: block;
  margin: 10px;
}
/* test */

.boutons_rivet img {
  height: 180px;
}
.boutons_rivet img:first-child {
  height: 200px;
}

.bourse {
  width: 50vw;
  height: 30vh;
  border-radius: 65px;
  box-shadow: grey 5px 5px 3px;
  margin: 1.2rem;
}
