.container_main {
  margin: auto;
  font-size: 1.5rem;
  width: 75vw;
}

.container_main img {
  float: left;
}

.content_size {
  width: 30vw;
}

.container_mentions {
  margin: auto;
  width: 75vw;
}

.fabrication {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel_size {
  width: 35vw;
  height: 25vh;
  margin: auto;
}

.boutons_rivet {
  margin: auto;
}

.container_materiaux {
  width: 90vw;
  margin: auto;
}

.bourse {
  width: 250px;
  height: 200px;
  border-radius: 65px;
  box-shadow: grey 5px 5px 3px;
  margin: 1.2rem;
}
