html,
body {
  margin: 0;
  padding: 0;
  background-image: url(../images/bardage2.jpg);
  font-family: "Meow Script", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(241, 214, 179);
}

h1 {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  margin: 10vh auto 5vh auto;
  text-shadow: lightgrey 2px 2px;
}

.nav_style {
  border-radius: 20px;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav_style a {
  text-decoration: none;
  color: rgb(241, 214, 179);
  cursor: pointer;
}

.header_link {
  width: 1.5rem;
  height: auto;
  filter: drop-shadow(white 2px 2px 2px);
}

.content_size {
  justify-content: space-between;
}

.nav-item a {
  font-size: 1.5rem;
}

.presentation {
  font-size: 2rem;
}

.myName {
  font-weight: 600;
  text-decoration: wavy;

h2 {
  position: relative;
  left: 15vw;
  margin-top: 1.5rem;
}

.container_materiaux {
  margin: auto;
  width: 95vw;
}

.avertissement {
  font-size: 2.5rem;
  margin: auto;
  padding-bottom: 2rem;
  width: 80vw;
  text-decoration-line: underline;
  animation: blink 2s infinite;
}

.carousel_img {
  border-radius: 30px;
}

.carousel_img .carousel-item img {
  height: 45vh;
  width: 25vw;
}

@keyframes blink {
  0% {
    color: rgb(241, 214, 179);
  }
  25% {
    color: rgb(153, 18, 190);
  }
  50% {
    color: rgb(206, 5, 156);
  }
  75% {
    color: rgb(153, 18, 190);
  }
  100% {
    color: rgb(241, 214, 179);
  }
}
