.container_main {
  margin: auto;
  font-size: 1.5rem;
  width: 75vw;
}

.container_main img {
  float: left;
}

.content_size {
  width: 30vw;
}

.container_mentions {
  margin: auto;
  width: 75vw;
}

.fabrication {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .figure_size {
  width: 50%;
}

.figure_size img {}
*/
/* .text_caption {
  text-align: center;
} */
